ast-comments==1.2.3
autoflake==2.3.1
black==25.1.0
coverage[toml]==7.10.6
doc8==2.0.0
flake8-isort==6.1.2
flake8-pyproject==1.2.3
flake8==6.1.0
ghapi==1.0.6
logging518==1.0.0
mypy==1.9.0
numpy==2.3.2
pydantic==2.11.7
pydocstyle==6.3.0
pydoctest==0.2.1
pylint==3.3.8
pyspelling==2.11
pytest==8.4.1
regex==2025.8.29
resplendent==0.3.5
spacy==3.8.7
sphinx-rtd-theme==3.0.2
sphinx==8.2.3
sphinx_design==0.6.1
tqdm==4.67.1
typed-argument-parser==1.10.1
types-tqdm==4.67.0.20250809
